body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: solid 1px #ccc;
    border-radius: 4px;
    background-color: #f2f2f2;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
select {
    width: 100%;
    padding: 8px;
    border: solid 1px #ccc;
    border-radius: 4px;
}

.prescription-form {
    margin-top: 50px;
}

textarea {
    width: 100%;
    padding: 8px;
    border: solid 1px #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00bfff;
}

input[type="text"]#other_gender {
    width: 40%;
    display: inline-block;
}

input[type="text"]#other_gender,
input[type="text"]#medical_history_details {
    margin-left: 10px;
}

select[name="medical_history"] {
    width: 40%;
    display: inline-block;
}

#medical_history_details {
    visibility: visible;
}

select[name="medical_history"]:checked + #medical_history_details {
    visibility: visible;
}